@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0f172a; /* Slate 900 */
  --foreground: #f8fafc;
  /* --foreground: #181b1f; */
  --muted-foreground: oklch(0.708 0 0);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

 .text-muted-foreground {
    color: var(--muted-foreground);
  }